.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #F4F4FC;
    margin: 0 8px!important;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #7575E2;
    gap: 8px;
}

.swiper-pagination {
    width: auto !important;
    position: absolute !important;
    left: 90% !important;
    bottom: 15px !important;

}
